{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}
    <div class="accueil">
        <div>
            <h2>Accueil</h2>
            <br>
            <hr>
            <h3>Ajouter produit :</h3>
        </div>
        <div class="form2" >
            {{ form_start(produitForm) }}
            {{ form_widget(produitForm) }}

            <button>Ajouter produit</button>
            <button><a href="{{ path('produit_liste') }}">Liste des produits</a></button>

            {{ form_end(produitForm) }}
        </div>
    </div>
{% endblock %}

