{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Détails produit{% endblock %}

{% block body %}
    <h2>Détails du produit</h2>
    <div class="produit-details">
        <div class="produit-details-infos">
            <h3>Libellé : {{ produit.libelle }}</h3>
            <div>Référence : {{ produit.reference }}</div>
            <div>Catégorie : {{ produit.category.libelle }}</div>
            <div>Prix : {{ produit.prix }}€</div>
            <div>Stock : {{ produit.stock }}</div>
            <div>Date d'ajout : {{ produit.dateAjout|date('d-m-Y') }}</div>
        </div>
    </div>
    {% if is_granted("ROLE_USER") %}
        <button><a href="{{ path('produit_edit', {'id': produit.id}) }}">Modifier produit</a></button>
    {% endif %}
    {% if is_granted("ROLE_ADMIN") %}
        <button><a href="{{ path('produit_delete', {'id': produit.id}) }}">Supprimer produit</a></button>
    {% endif %}
{% endblock %}


